/* >>>>>>>>>>>>>>>>BASE.html<<<<<<<<<<<<<<<<<<<< */
.body{
    background-color: #44A9A8;
}

.sidebar{
    position: fixed;
    left: -70%;
    width: 20%;
    height: 100%;
    background-color: #f7e5a2;
    transition: all 0.5s ease;
    z-index: 9999;

}

.sidebar h2{
    color: #260d0d;
    text-align: center;
    font-size: 300%;
    font-weight: 500;
    user-select: none;
    background-color: #f0aa55;
    border-radius: 19%;
}


.sidebar a{
    color: #260d0d;
    display: block;
    height: 8%;
    line-height: 250%;
    font-size: 130%;
    text-align: center;
    border-bottom: 4px solid #651511;
    border-top: 4px solid #651511;
    border-left: 10px solid transparent;
    box-sizing: border-box;
    font-weight: bold;

}

.sidebar a:hover, a.activate{
    border-left: 10px solid #ff4000;
    color: #ff4000;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #f18f17;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    font-size: 29px;
    border-radius: 5px;
    margin: 9px 30px;
    transition: all .5s ease;
    border: 1px solid #f18f17;

}

label #cancel{
    opacity: 0;
    visibility: hidden;

}

#check:checked ~ label #btn{
    margin-left: 21%;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel{
    margin-left: 21%;
    opacity: 1;
    visibility: visible;
}

#check:checked ~ .sidebar{
    left: 0;
}

.divlinks{
    background-color: #ffefb5;
    width: 100%;
    height: 72px;
    font-size: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.divlinks a{
    display: flex;
    flex-direction: row;
    margin-right: 2px;
    margin-top: 15px;
    color: #a84131;
}

.divlinks a:hover{
    color: #c42c15;
}

.divlinks span{
    margin-top: 15px;
}

@media screen and (max-width: 768px){

    label #btn, label #cancel{
        margin: 15px;
    }

    #check:checked ~ label #btn{
        margin-left: 62%;
    }

    #check:checked ~ label #cancel{
        margin-left: 62%;
    }

    .sidebar{
        height: auto;
        width: 60%;
        left: -100%;
        transition: all .5s ease;
    }

    .sidebar h2{
        font-size: 200%;
    }

    .sidebar a{
        font-size: 20px;
        box-sizing: border-box;
    }

    .divlinks {
        width: 100%;
        font-size: 22px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

@media screen and (max-width: 480px) {
    label #btn,
    label #cancel {
        margin: 10px;
        height: 45px;
        width: 40px;
    }

    #check:checked ~ label #btn {
        margin-left: 83%;
    }

    #check:checked ~ label #cancel {
        margin-left: 83%;
    }

    .sidebar {
        height: auto;
        width: 80%;
        left: -100%;
        transition: all .5s ease;
    }

    .sidebar h2 {
        font-size: 150%;
    }

    .sidebar a {
        font-size: 16px;
        box-sizing: border-box;
    }

    .divlinks {
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/* >>>>>>>>>>>>>>>>BASE.html<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>HOME.html<<<<<<<<<<<<<<<<<<<< */
.headerhome{
    background-color: #ffefb5;
    height: 260px;
    width: 100%;
    display: flex;

}

.headerhome span{
    color: #ff4000;
    padding-top: 75px;
    margin-left: 5%;
    font-size: 150%;
    text-align: center;

}

.headerhome span strong {
    font-size: 200%;
}

#img{
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    border-bottom-left-radius: 170px;
    border-bottom-right-radius: 170px;
    overflow: hidden;
    display: flex;
    
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 65px;
}

.links a{
    margin-left: 145px;
    margin-right: 265px;
    margin-top: 230px;
    border: 5px solid #a02411;
    background-color: #FFEFB5;
    color: #a84131;
    transition: filter 0.3s, transform 0.3s ease;
    box-shadow: 5px 15px 40px #033130;
    text-align: center;
}

.links a:hover{
    filter: brightness(107%);
    color: #c42c15;
    transform: scale(1.2);
}


.link-central{
    position: absolute;
    top: 50px;
    left: 440px;
    font-size: 100px;
}

.link-interesses{
    font-size: 97px;
    position: absolute;
    left: 840px;
}

@media screen and (max-width: 768px) {
    .headerhome {
        height: 200px;
        width: 100%;
    }
    
    .headerhome span {
        margin-top: 40px;
        margin-left: 65px;
        font-size: 20px;
        position: absolute;
    }
    
    .headerhome span strong {
        font-size: 200%;
    }
    
    #img {
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 170px;
        border-top-right-radius: 170px;
        border-bottom-left-radius: 170px;
        border-bottom-right-radius: 170px;
        overflow: hidden;
        display: flex;
    }

    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: 70px;
    }

    .links a {
        flex-direction: column;
        margin: -171px;
        margin-top: 180px;
        width: 300px;
    }


    .link-central {
        position: relative;
        top: -340px;
        left: 0px;
        font-size: 80px;
    }

    .link-interesses{
        position: relative;
        left: 0px;
        font-size: 70px;
    }
}

@media screen and (max-width: 480px) {
    .headerhome {
        height: 150px;
        width: 100%;
    }

    .headerhome span {
        margin-top: 5px;
        margin-left: 63px;
        font-size: 16px;
        position: absolute;
    }

    .headerhome span strong {
        font-size: 160%;
    }

    #img {
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
    }

    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin: 40px;
    }

    .links a {
        flex-direction: column;
        margin: -100px;
        margin-top: 120px;
        width: 220px;
    }

    .link-central {
        position: relative;
        top: -240px;
        left: 0px;
        font-size: 40px;
    }

    .link-interesses {
        position: relative;
        left: 0px;
        font-size: 40px;
    }
}


/* >>>>>>>>>>>>>>>>HOME.html<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>PROJETOS.html<<<<<<<<<<<<<<<<<<<< */
.div-git{
    display: flex;
    overflow: hidden;
    height: 145px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 40px;    
}

.div-git img{
    display: flex;
    object-fit: contain;
    margin-left: 300px;
    margin-top: 1px;
    height: 100%;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 2s;
    transition: transform 1s ease;
}


.div-git img:hover{
    transform: scale(1.2) rotate(360deg);
}

.div-git span{
    position: absolute;
    margin-top: 24px;
    margin-left: 13px;
    font-size: 29px;
    font-weight: bold;
    color: #a02411;
    text-align: center;
    animation: div-git 5s infinite;
}

@keyframes div-git{
    0%{color: #6e6e6e;}
    50%{color: #000000;}
    100%{color: #6e6e6e;}
}

.div-projetos{
    border: 3px solid #0ca6a4;
    background-color: #168180;
    height: 30%;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 1px 4px 26px 15px #0c4746;
    justify-content: space-between;
    overflow: hidden;
}

.div-projetos h3{
    text-align: center;
    font-weight: 900;
    font-size: 55px;
    color: #ffffff;
}

.div-projetos p{
    font-size: 25px;
    color: #FFFFFF;
    padding-left: 4px;
    
}

@media screen and (max-width: 768px) {
    .div-git{
        height: 140px;
        width: 400px;   
    }

    .div-git img{
        margin-top: 5px;
        margin-left: 258px;
        height: 90%;
    }

    .div-git span{
        margin-top: 27px;
        margin-left: 14px;
        font-size: 25px;
        color: #a02411;
    }

    .div-projetos{
        height: 600px;
        width: 700px;
    }

    .div-projetos p{
        font-size: 27px;
    }
}

@media screen and (max-width: 480px) {
    .div-git {
        height: 90px;
        width: 280px;
    }

    .div-git img {
        margin-top: 5px;
        margin-left: 190px;
        height: 80%;
    }

    .div-git span {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 15px;
        color: #a02411;
    }

    .div-projetos {
        height: 500px;
        width: 340px;
    }

    .div-projetos h3{
        font-weight: 900;
        font-size: 45px;
    }

    .div-projetos p {
        font-size: 18px;
    }
}

/* >>>>>>>>>>>>>>>>PROJETOS.html<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>INFORMACOESEDUCACIONAIS.html<<<<<<<<<<<<<<<<<<<< */
.div-info1{
    height: 260px;
    width: auto;
    display: flex;
    overflow: hidden;
    background-color: #48a7a6;
}

.div-info1 img{
    display: flex;
}

.div-info1 p{
    font-size: 20px;
    margin-left: 15px;
    color: #ffffff;
}

.div-info2{
    height: 260px;
    width: auto;
    display: flex;
    overflow: hidden;
    background-color: #398c89;

}

.div-info2 img{
    display: flex;
    width: 260.2px;

}

.div-info2 p{
    font-size: 20px;
    margin-left: 15px;
    color: #ffffff;
}

.div-info3{
    height: 260px;
    width: auto;
    display: flex;
    overflow: hidden;
    background-color: #266563;
}

.div-info3 img{
    display: flex;
    height: 260px;
    border-radius: 50%;
}

.div-info3 p{
    font-size: 20px;
    margin-left: 15px;
    color: #ffffff;
}

@media screen and (max-width: 768px){
    .div-info1{
        height: 256px;
        overflow: hidden;
    }
    
    .div-info1 img{
        height: 256px; 
        width: 200px;
    }

    .div-info1 p{
        font-size: 18px;
        margin-left: 15px;
    }
    
    .div-info2{
        height: 256px;
        overflow: hidden;
    }
    
    .div-info2 img{
        width: 200px;
    }

    .div-info2 p{
        font-size: 18px;
        margin-left: 15px;
    }

    .div-info3{
        display: flex;
        height: 256;
        overflow: hidden;
    }

    .div-info3 img{
        height: 200px;
        margin-top: 38px;
    }
    
    .div-info3 p{
        font-size: 16.2px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 480px) {
    .div-info1 {
        height: 200px;
        overflow: hidden;
    }
    
    .div-info1 img {
        height: 200px;
        width: 132px;
    }

    .div-info1 p {
        font-size: 12px;
        margin-left: 10px;
    }
    
    .div-info2 {
        height: 200px;
        overflow: hidden;
    }
    
    .div-info2 img {
        width: 132px;
    }

    .div-info2 p {
        font-size: 12px;
        margin-left: 10px;
    }

    .div-info3 {
        display: flex;
        height: 240px;
        overflow: hidden;
    }

    .div-info3 img {
        height: 132px;
        margin-top: 59px;
    }
    
    .div-info3 p {
        font-size: 12px;
        margin-left: 10px;
    }
}

/* >>>>>>>>>>>>>>>>INFORMACOESEDUCACIONAIS.html<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>INTERESSES.html<<<<<<<<<<<<<<<<<<<< */
.h1-interesses{
    position: absolute;
    display: flex;
    margin-left: 580px;
    margin-top: 24px;
    font-size: 90px;
}

.hr-pokemon{
    border-color: #904626;
    border-width: 4px;
}

.hr-idiomas{
    margin-top: 108px;
    border-color: #904626;
    border-width: 4px;
}

.div-pokemonheader{
    position: relative;
    display: flex;
    width: auto;
    height: 100px;
}

.div-pokemonheader img{
    height: 160px;
    display: inline-block;

}

.div-pokemonheader img#starly-img{
    margin-left: 400px;
}

.div-pokemonheader img#seedot-img{
    margin-left: 400px;
    transform: scaleX(-1);
}


.cor1{
    color: #ff0000;
}
.cor2{
    color: #000000;
}
.cor3{
    color: #ffffff;
}

.div-pokemon{
    background-color: #A1D579;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    width: 720px;
    box-shadow: 1px 5px 20px 10px #0c4746;
}

.div-pokemon p{
    font-size: 22px;
    font-weight: bolder;
    padding-top: 15px;
    margin-left: 310px;
    margin-right: 10px;
    text-align: center;
}

.span-garry{
    display: flex;
    position: absolute;
    height: 195px;
    margin-top: 80px;
}

.span-squirtle{
    display: flex;
    position: absolute;
    height: 75px;
    margin-top: 200px;
    margin-left: 214px;
}

.pokebola{
    width: 300px;
    height: 300px;
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: 8px solid black;
    overflow: hidden;
}
  
.circulo{
    width: 100%;
    height: 50%;
    border-bottom: 9px solid #000000;
    background-color: red;
}
  
.circulo-medio{
    width: 35%;
    height: 35%;
    background-color: #ffffff;
    border: 9px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
  
.circulo-pequeno{
    width: 45px;
    height: 45px;
    background-color: #979797;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.idiomas{
    border-radius: 20px;
    width: 900px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #DB877F;
    box-shadow: 1px 5px 20px 10px #0c4746;
    overflow: hidden;
}

.idiomas p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 768px){
    .h1-interesses{
        position: absolute;
        margin-left: 370px;
        margin-top: 80px;
        transform: translate(-50%, -50%);
        font-size: 70px;
    }

    .div-pokemonheader img{
        height: 160px;
        display: inline-block;

    }

    .div-pokemonheader img#starly-img{
        margin-left: 100px;
    }

    .div-pokemonheader img#seedot-img{
        margin-left: 215px;
        transform: scaleX(-1);
    }

    .div-pokemon{
        height: 480px;
        width: 700px;
    }

    .div-pokemon p{
        font-size: 20.17px;
        padding-top: 11px;
    }

    .span-garry{
        height: 180px;
        margin-left: 8px;
        margin-top: 80px;
    }
    
    .span-squirtle{
        height: 70px;
        margin-left: 200px;
        margin-top: 187px;
    }

    .pokebola{
        width: 280px;
        height: 280px;
        margin-top: 5px;
        margin-left: 10px;
        overflow: hidden;
    }

    .idiomas{
        width: 705px;
        height: 250px;
    }

    .idiomas p{
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .h1-interesses {
        position: absolute;
        margin-left: 180px;
        margin-top: 90px;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }

    .div-pokemonheader img {
        margin-top: 40px;
        height: 100px;
        display: inline-block;
    }

    .div-pokemonheader img#starly-img {
        margin-left: 25px;
    }

    .div-pokemonheader img#seedot-img {
        margin-left: 110px;
        transform: scaleX(-1);
    }

    .div-pokemon {
        height: 340px;
        width: 320px;
    }

    .div-pokemon p{
        font-size: 10px;
        padding-top: 160px;
        margin-left: 10px;
        text-align: center;
    }

    .span-garry {
        height: 90px;
        margin-left: 4px;
        margin-top: 40px;
    }

    .span-squirtle {
        height: 35px;
        margin-left: 100px;
        margin-top: 93px;
    }

    .pokebola {
        width: 140px;
        height: 140px;
        margin-top: 2px;
        margin-left: 5px;
        overflow: hidden;
    }

    .idiomas {
        width: 320px;
        height: 220px;
    }

    .idiomas p {
        font-size: 12px;
    }
}
/* >>>>>>>>>>>>>>>>INTERESSES.html<<<<<<<<<<<<<<<<<<<< */






  