{% extends "base.html" %}
{% block content %}
    <div class="div-info1">
        <img src="../static/img/etec.png" alt="etec">
        <p>Eu fiz ensino médio integrado com técnico na Etec de Cuzeiro, Etec Prof. José Sant'Ana de Castro. Entrei em 2020 e me formei
            em 2022 como técnio em Deselvimento de Sistemas.
        </p>
    </div>

    <div class="div-info2">
        <img src="../static/img/fatec.png" alt="fatec">
        <p>Atualmente estou cursando Desenvolvimento de Software Multiplataforma na Fatec de São José dos campos Prof. Jessen
            Vidal.
        </p>
    </div>


    <div class="div-info3">
        <div style="background-color: white;">
            <img src="../static/img/studyenglish.png" alt="studyenglish">
        </div>
        
        <p>
            Atualmente saber inglês é importante para a carreira em todas as áreas profissionais, mas em tecnologia da informação (TI) 
            isto é essencial. Isso porque nessa área o inglês sempre foi o idioma-padrão, sendo inclusive a base das próprias 
            linguagens de programação.<br>
            Estudei inglês por 5 anos e pretendo conseguir o certificado de Cambridge English nos próximos 3 anos para consolidar melhor
            o meu nível de fluência na língua
        </p>
    </div>
{% endblock %}