{% extends "base.html" %}
{% block content %}
    <div class="div-git">
        <a href="https://github.com/miguelcondesantos" target="_blank">
            <img src="../static/img/git.png" alt="Github">
        </a>
        <span>Para se atualizar →<br>sobre meus projetos →<br>acesse meu Github →</span>
    </div>

    <div class="div-projetos">
        <h3>Tower of Abyss</h3>
        <p>
            Tower of Abyss foi um jogo feito para meu TCC em 2022 com participação da minha equipe, totalizando 5 integrantes 
            que trabalharam neste projeto. Ele foi programado utilizando a linguagem C# e a Game Engine <a href="https://unity.com/pt" target="_blank">
            Unity</a> para o desenvolvimento, sua arte foi feita em 2D no estilo de pixel art no site <a href="https://www.pixilart.com/" target="_blank">
            Pixilart</a>.<br>
            O projeto foi postado no site de destribuição de jogos <a href="https://itch.io/" target="_blank">itch.io</a> por ser 
            isento de taxas para sua publicação.<br>Conheça melhor meu jogo:
            <a href="https://nem-te-conto-games.itch.io/tower-of-abyss" target="_blank">Tower of Abyss</a>
        </p>
    </div>
    <div class="div-projetos">
        <h3>Projeto API 1° Semestre 2023</h3>
        <p>
            quando a gente terminar eu coloco
        </p>
    </div>

{% endblock %}