{% extends "base.html" %}
{% block content %}
    <div class="div-pokemonheader">
        <img id="starly-img" src="../static/img/starly.png" alt="starly">
        <h1 class="h1-interesses">
            <span class="cor1">Po</span>
            <span class="cor2">ke</span>
            <span class="cor3">mon</span>
        </h1>
        <img id="seedot-img" src="../static/img/seedot.png" alt="seedot">
    </div>
    <hr class="hr-pokemon">

    <div class="div-pokemon">
        <div class="pokebola">
            <div class="circulo"></div>
            <div class="circulo-medio"></div>
            <div class="circulo-pequeno"></div>
        </div>

        <span class="span-garry">
            <img src="../static/img/garry.gif" alt="garry">
        </span>
        <span class="span-squirtle">
            <img src="../static/img/squirtle.gif" alt="squirtle">
        </span>

        <p>
            Pokémon é uma franquia de mídia que pertence a The Pokémon Company, tendo sido criada por Satoshi Tajiri em 1995. Ela é 
            centrada em criaturas ficcionais chamadas "Pokémon", que os seres humanos capturam e os treinam para lutarem entre si 
            com seus ataques de diversos tipos.<br>
            Minha primeira experiência com pokemon foi na televisão aberta assistindo apisódios animados da série, que foi o motivo
            pelo qual eu começei a procurar mais sobre a franquia na internet. Com esse meu gosto crescendo cada vez por pokemon eu 
            comecei a jogar seus jogos da franquia principal em emuladores para PC, após isso comecei a consumir cada vez mais seus 
            produtos incluindo principalmente seus mangás (quadrinhos japoneses) e seu jogo de cartas Pokemon TCG.<br>
        </p>
    </div>


    <h1 class="h1-interesses">Idiomas</h1>
    <hr class="hr-idiomas">

    <div class="idiomas">
        <p>
            Aprender um novo idioma muitas vezes está ligado à compreensão da cultura associada a ele. Isso ajudará a criar empatia e a adaptar-se a diferentes ambientes de 
            trabalho, compreendendo as nuances culturais e respeitando as práticas locais.<br>
            Atualmente sei o mínimo de inglês para se comunicar e compreender outra pessoa, porém não me considero fluente. O próximo idioma a ser aprendido por mim será o
            italiano por um simples motivo deu o achar bonito, mas eu também tenho ciência de que saber vários idiomas permite que você se comunique efetivamente com 
            colegas de diferentes países e culturas. Isso facilita a colaboração em projetos, o compartilhamento de conhecimentos e a compreensão de requisitos específicos 
            de diferentes mercados
        </p>
    </div>
{% endblock %}