{% extends "base.html" %}
{% block content %}
    <div class="div-git">
        <a href="https://github.com/miguelcondesantos" target="_blank">
            <img src="../static/img/git.png" alt="Github">
        </a>
        <span>Para se atualizar →<br>sobre meus projetos →<br>acesse meu Github →</span>
    </div>

    <div class="div-projetos">
        <h3>Tower of Abyss</h3>
        <p>
            Tower of Abyss foi um jogo feito para meu TCC em 2022 com participação da minha equipe, totalizando 5 integrantes 
            que trabalharam neste projeto. Ele foi programado utilizando a linguagem C# e a Game Engine <a href="https://unity.com/pt" target="_blank">
            Unity</a> para o desenvolvimento. Sua arte foi feita em 2D no estilo de pixel art no site <a href="https://www.pixilart.com/" target="_blank">
            Pixilart</a>.<br>
            O projeto foi postado no site de destribuição de jogos <a href="https://itch.io/" target="_blank">itch.io</a> por ser 
            isento de taxas para sua publicação.<br>Conheça melhor nosso jogo:
            <a href="https://nem-te-conto-games.itch.io/tower-of-abyss" target="_blank">Tower of Abyss</a>
        </p>
    </div>
    <div class="div-projetos">
        <h3>Consulta-vid</h3>
        <p>
            Consulta-vid é um site criado para análise de dados sobre o tema “COVID Longa”
            para as cidades sobre a cobertura da Vanguarda.<br>
            Ele foi desenvolvid pela equipe <a href="https://github.com/APIEquipe/EquipeTechEmpireAPI" target="_blank">
            TechEmpire</a> como desafio da Aprendizagem por Projetos Integrados(API), um método
            de ensino para que os alunos possam aprender como o mercado de trabalho funciona.<br>
            Acesse nosso site:<a href="https://test3-rho-nine.vercel.app/" target="_blank">Consulta-vid</a>
        </p>
    </div>

{% endblock %}